# Dependencies
node_modules/

# Builds
dist/
build/

# Environment
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# IDE/Editor
.vscode/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

createAdmin.js
